<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="container">
      <fieldset>
        <form action="/" method="POST">
            <input name = "postButton" type = submit class="ghost-input" placeholder="Post Button">
        </form>
        <form action="/" method="GET">
            <input name = "getButton" type = submit class="ghost-input" placeholder="Get Button">
        </form>
      </fieldset>
    </div>
  </body>
</html>